.hablerBunlar{
 width: 100%;
 height: 350px;
 
}

.birincireklam{
    width: 250px;
    height: 499px;
    
    float: right;
    background-image: url(reklam1.jpg);
    background-repeat: no-repeat;

    
}
.hablerBunlar1{
    width: 100%;
    height: 350px;
    
}

.ikincireklam{
    width: 250px;
    height: 499px;
    
    float: right;
    background-image: url(reklam2.jpg);
    background-repeat: no-repeat;


}
.card {
    background-color: rgb(89, 240, 89);
}